:root{
    --primary: #2962ff;
    --light: #f3f7ff;
    --dark: #0039cb;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}